log_level  = 3
mgmt_mode_local     = 0
mgmt_mode_remote    = 1 
internal_protocol   = EN
gw_internal_mac = 00:02:C9:01:C8:80 
gw_mac =00:02:C9:01:C8:80
vfm_eth_intf =  eth0
wwnn =  10:00:00:10:86:02:09:22         
wwpn =  20:00:00:10:86:02:09:22
fcoe_t11 = 1

# Currently relative path for database is given. Please ensure that 
# the PWD is .../src/vps/vfm
database = db/vfm.db

# Remove the commented line to log to file.
#logfile  = /vfm.log
logfile  = 
